<nav class="flex gap-5">
    <%- include("../link.ejs", {url:"/", text: "Home", active: currentUrl ===
    "/"}) %> <%- include("../link.ejs", {url:"/posts", text: "Posts", active:
    currentUrl === "/posts"}) %>
</nav>