<div class="flex items-center gap-2">
    <%- include('../../../components/general/link-outside.ejs', { url: '/post/' + post._id + '/edit', text: '', color: 'green', iconPath: './icons/edit.ejs', padding: 'px-4 py-1' }) %>
    <%- include('../../../components/general/link-outside.ejs', { url: '#', text: '', color: 'red', iconPath: './icons/remove.ejs', padding: 'px-4 py-1' }) %>
</div>