<div class="flex gap-3">
    <div class="flex gap-2">
        <div class="flex items-center justify-center">
            <%- include('../../../components/general/icons/eye.ejs') %>
        </div>

        <div>
            <%= post.viewsCount %>
        </div>
    </div>

    <div class=" flex gap-2">
        <div class="flex items-center justify-center"><%- include('../../../components/general/icons/anonymous-user.ejs') %></div>
        <div>
            <%= post.anonymousViewsCount %>
        </div>
    </div>
</div>