<a href="<%= href %>" class="shadow-lg bg-gradient-to-br from-orange-500 to-orange-700 hover:from-orange-700 hover:to-orange-900 text-white rounded-md focus:ring-orange-500 focus:ring focus:ring-offset-2 focus:ring-offset-white" id="<%= id %>">
    <div class="hover:scale-110 py-1 px-4 font-semibold"><%= text %></div>
</a>