<div class="flex gap-3">
    <%- include("../inputs/link-button.ejs", {href: "/register", id: "register-header", text: "Register"})
    %>
    <%- include("../inputs/link-button.ejs", {href: "/login", id: "login-header", text: "Log in"})
    %>
</div>