<button type="button" class="message-button shadow-lg bg-gradient-to-br from-red-500 to-red-700 hover:from-red-400 hover:to-red-500 text-white rounded-md focus:ring-red-500 focus:ring focus:ring-offset-2 focus:ring-offset-white" id="<%= id %>">
    <div class="hover:scale-110 py-1 px-4 font-semibold"><%= text %></div>
</button>