<button type="button" class="shadow-lg bg-gradient-to-br from-blue-500 to-blue-700 hover:from-blue-400 hover:to-blue-500 text-white rounded-md focus:ring-blue-500 focus:ring focus:ring-offset-2 focus:ring-offset-white" id="<%= id %>">
    <div class="hover:scale-110 py-1 px-4 font-semibold"><%= text %></div>
</button>