<div class="flex gap-3">
    <%- include('./section.ejs', {name: "Essentials", links: [{url: "/", text:
    "Home"}, {url: "/posts", text: "Posts"}, {url: "/register", text:
    "Registration"}, {url: "/users", text:
    "Users"}]}) %> <%- include('./social-section.ejs', {name: "Socials",
    links: []}) %>
</div>