<div class="flex flex-col gap-1.5">
    <div class="text-lg font-semibold"><%= name %></div>
    <ul class="flex gap-0.5">
        <% for(const link of links) { %>
        <li>
            <%- include('./link.ejs', {text: link.text, url: link.url, active:
            false}) %>
        </li>
        <% } %>
    </ul>
</div>
